In [217]:
import pandas as pd

In [218]:
# Read the csv
data1 = pd.read_csv('data/data1analytical.csv')

In [219]:
data1

,Date_Year,Date_MonthName,StoreId,Subcategory,Quantity,Revenue,Period,Type,Area
0,2022,June,4008,SWEET BAKERY SNACKS,24.0,24.40,MATYA,Kiosk,Μακεδονία και Θράκη
1,2021,November,10254,TOBACCO ACCESSORIES,2156.0,1437.80,MATYA,Kiosk,Μακεδονία και Θράκη
2,2022,August,5122,ΟΥΖΟ,3.0,11.00,MATYA,Kiosk,Δυτική και Κεντρική Ελλάδα
3,2022,June,10254,CORN,51.0,74.00,MATYA,Kiosk,Μακεδονία και Θράκη
4,2022,October,10280,STICK,122.0,277.80,MATYA,Kiosk,Αττική
...,...,...,...,...,...,...,...,...,...
351094,2023,March,7986,WHISKY,1.0,23.00,MAT,Mini-Market,Μακεδονία και Θράκη
351095,2023,January,6532,SANDWICH,29.0,48.50,MAT,Kiosk,Νησιά
351096,2023,January,3545,ICE TEA,11.0,20.00,MAT,Mini-Market,Αττική
351097,2022,December,3813,COLAS,364.0,653.64,MAT,Kiosk,Πελοπόννησος
351098,2022,November,7376,GREEK COFFEE,18.0,50.10,MAT,Mini-Market,Αττική

In [220]:
# Read Category Mappings csv
category_mappings = pd.read_csv('data/Category Mapping.csv')

In [221]:
# Get the Category column from the category_mappings dataframe and merge to dataset2_encoded
data1 = pd.merge(data1, category_mappings[['Subcategory', 'Category']], on='Subcategory', how='left')

In [222]:
# Calculate the price column (revenue/quantity)
data1['Average_Price'] = data1['Revenue'] / data1['Quantity']

In [223]:
data1

,Date_Year,Date_MonthName,StoreId,Subcategory,Quantity,Revenue,Period,Type,Area,Category,Average_Price
0,2022,June,4008,SWEET BAKERY SNACKS,24.0,24.40,MATYA,Kiosk,Μακεδονία και Θράκη,SNACKS,1.016667
1,2021,November,10254,TOBACCO ACCESSORIES,2156.0,1437.80,MATYA,Kiosk,Μακεδονία και Θράκη,TOBACCO COMPL,0.666883
2,2022,August,5122,ΟΥΖΟ,3.0,11.00,MATYA,Kiosk,Δυτική και Κεντρική Ελλάδα,ALCOHOLIC BEVERAGES,3.666667
3,2022,June,10254,CORN,51.0,74.00,MATYA,Kiosk,Μακεδονία και Θράκη,SNACKS,1.450980
4,2022,October,10280,STICK,122.0,277.80,MATYA,Kiosk,Αττική,ICE CREAM,2.277049
...,...,...,...,...,...,...,...,...,...,...,...
351094,2023,March,7986,WHISKY,1.0,23.00,MAT,Mini-Market,Μακεδονία και Θράκη,ALCOHOLIC BEVERAGES,23.000000
351095,2023,January,6532,SANDWICH,29.0,48.50,MAT,Kiosk,Νησιά,BISCUITS,1.672414
351096,2023,January,3545,ICE TEA,11.0,20.00,MAT,Mini-Market,Αττική,SOFT DRINKS,1.818182
351097,2022,December,3813,COLAS,364.0,653.64,MAT,Kiosk,Πελοπόννησος,SOFT DRINKS,1.795714
351098,2022,November,7376,GREEK COFFEE,18.0,50.10,MAT,Mini-Market,Αττική,COFFEE,2.783333

In [241]:
# Group by subcategory and StoreId and calculate the sum of the revenue
data1_grouped = data1.groupby(['StoreId', 'Subcategory', 'Type', 'Area']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
0,3435,ALOE VERA,Kiosk,Αττική,52.50,35.0,1.500000
1,3435,BAR ICE CREAM,Kiosk,Αττική,4851.90,1892.0,2.400836
2,3435,BAR SNACKS,Kiosk,Αττική,5103.70,2889.0,1.758919
3,3435,BEERS,Kiosk,Αττική,115448.39,70713.0,1.617208
4,3435,CAKE,Kiosk,Αττική,2308.50,2426.0,0.963478
...,...,...,...,...,...,...,...
16797,10963,WHISKY,Mini-Market,Δυτική και Κεντρική Ελλάδα,88.60,11.0,8.775000
16798,10963,WINE,Mini-Market,Δυτική και Κεντρική Ελλάδα,65.50,14.0,4.710000
16799,10963,YOGURT,Mini-Market,Δυτική και Κεντρική Ελλάδα,810.50,474.0,1.722212
16800,10963,ΟΥΖΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,128.00,32.0,4.000000
16801,10963,ΤΣΙΠΟΥΡΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,494.00,97.0,5.133413

In [242]:
# Create separate dataframes for each Type
data1_grouped_kiosk = data1_grouped[data1_grouped['Type'] == 'Kiosk']
data1_grouped_mini_market = data1_grouped[data1_grouped['Type'] == 'Mini-Market']

## For mini-markets

In [246]:
data1_grouped_mini_market

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
409,3545,ALOE VERA,Mini-Market,Αττική,36.40,24.0,1.510000
410,3545,BAR ICE CREAM,Mini-Market,Αττική,42.00,7.0,6.000000
411,3545,BAR SNACKS,Mini-Market,Αττική,277.20,225.0,1.206179
412,3545,BEERS,Mini-Market,Αττική,10663.98,6226.0,1.666956
413,3545,BUTTER,Mini-Market,Αττική,396.35,152.0,2.470255
...,...,...,...,...,...,...,...
16797,10963,WHISKY,Mini-Market,Δυτική και Κεντρική Ελλάδα,88.60,11.0,8.775000
16798,10963,WINE,Mini-Market,Δυτική και Κεντρική Ελλάδα,65.50,14.0,4.710000
16799,10963,YOGURT,Mini-Market,Δυτική και Κεντρική Ελλάδα,810.50,474.0,1.722212
16800,10963,ΟΥΖΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,128.00,32.0,4.000000
16801,10963,ΤΣΙΠΟΥΡΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,494.00,97.0,5.133413

In [247]:
# For each StoreId get the top 3 categories by revenue

In [249]:
data1_grouped_mini_market_store = data1_grouped_mini_market.sort_values(['StoreId', 'Revenue'], ascending=[True,False])
data1_grouped_mini_market_store.groupby('StoreId').head(3)

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
422,3545,CIG,Mini-Market,Αττική,456298.10,106586.0,4.283428
445,3545,HEATED,Mini-Market,Αττική,146056.20,37874.0,3.857268
475,3545,RYO,Mini-Market,Αττική,127676.20,16540.0,7.723747
596,3557,CIG,Mini-Market,Μακεδονία και Θράκη,294470.00,69587.0,4.233650
664,3557,TICKETING AND ADMISSION SERVICES,Mini-Market,Μακεδονία και Θράκη,154542.25,15074.0,10.227903
...,...,...,...,...,...,...,...
16658,10961,HEATED,Mini-Market,Αττική,249443.68,65111.0,3.813447
16690,10961,RYO,Mini-Market,Αττική,169470.10,21730.0,7.798052
16726,10963,CIG,Mini-Market,Δυτική και Κεντρική Ελλάδα,192744.30,44849.0,4.296499
16750,10963,HEATED,Mini-Market,Δυτική και Κεντρική Ελλάδα,61855.10,16081.0,3.859937
16780,10963,RYO,Mini-Market,Δυτική και Κεντρική Ελλάδα,52508.60,6825.0,7.683453

In [245]:
# Keep stores with area Αττική in a new dataframe
data1_grouped_mini_market_store_attiki = data1_grouped_mini_market_store[data1_grouped_mini_market_store['Area'] == 'Αττική']
data1_grouped_mini_market_store_attiki

,StoreId,Category,Type,Area,Revenue,Quantity,Average_Price
99,3545,TICKETING AND ADMISSION SERVICES,Mini-Market,Αττική,12.00,1.0,12.000000
100,3545,TOBACCO,Mini-Market,Αττική,762792.58,172510.0,5.951649
85,3545,ALCOHOLIC BEVERAGES,Mini-Market,Αττική,12736.68,6708.0,5.172544
88,3545,COFFEE,Mini-Market,Αττική,3149.00,1094.0,3.843351
92,3545,ICE CREAM,Mini-Market,Αττική,17465.60,5875.0,3.722286
...,...,...,...,...,...,...,...
3325,10961,SNACKS,Mini-Market,Αττική,62513.88,42880.0,1.427463
3326,10961,SOFT DRINKS,Mini-Market,Αττική,151077.58,137175.0,1.290439
3315,10961,CHOCOLATE,Mini-Market,Αττική,28044.62,21910.0,1.284742
3318,10961,GUMS & CANDIES,Mini-Market,Αττική,38836.06,30272.0,1.231848
3323,10961,PET CARE,Mini-Market,Αττική,506.10,505.0,1.152290

--------------------------

## For Kiosks

---------------------------

In [226]:
data1_grouped_kiosk.drop(columns=['Type'], inplace=True)
data1_grouped_kiosk

C:\Users\panagiotis\AppData\Local\Temp\ipykernel_36668\3629798348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_grouped_kiosk.drop(columns=['Type'], inplace=True)

,StoreId,Category,Area,Revenue,Quantity,Average_Price
0,3435,ALCOHOLIC BEVERAGES,Αττική,133290.69,76194.0,3.470383
1,3435,BISCUITS,Αττική,10480.80,5845.0,1.914825
2,3435,CHOCOLATE,Αττική,43941.14,34656.0,1.208003
3,3435,COFFEE,Αττική,6115.90,5059.0,1.486962
4,3435,DAIRY,Αττική,3157.00,2080.0,1.536078
...,...,...,...,...,...,...
3292,10884,SOFT DRINKS,Αττική,34130.54,31972.0,1.399605
3293,10884,TICKETING AND ADMISSION SERVICES,Αττική,66159.90,3401.0,19.035465
3294,10884,TOBACCO,Αττική,435476.75,99541.0,6.087118
3295,10884,TOBACCO COMPL,Αττική,15430.00,20181.0,10.894068
3296,10884,TOYS,Αττική,1074.75,777.0,1.228902

In [227]:
data1_grouped_kiosk

,StoreId,Category,Area,Revenue,Quantity,Average_Price
0,3435,ALCOHOLIC BEVERAGES,Αττική,133290.69,76194.0,3.470383
1,3435,BISCUITS,Αττική,10480.80,5845.0,1.914825
2,3435,CHOCOLATE,Αττική,43941.14,34656.0,1.208003
3,3435,COFFEE,Αττική,6115.90,5059.0,1.486962
4,3435,DAIRY,Αττική,3157.00,2080.0,1.536078
...,...,...,...,...,...,...
3292,10884,SOFT DRINKS,Αττική,34130.54,31972.0,1.399605
3293,10884,TICKETING AND ADMISSION SERVICES,Αττική,66159.90,3401.0,19.035465
3294,10884,TOBACCO,Αττική,435476.75,99541.0,6.087118
3295,10884,TOBACCO COMPL,Αττική,15430.00,20181.0,10.894068
3296,10884,TOYS,Αττική,1074.75,777.0,1.228902

In [228]:
# Group by Area and Subcategory and calculate the sum of the revenue
data1_grouped_kiosk = data1_grouped_kiosk.groupby(['Area', 'Category']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped_kiosk

,Area,Category,Revenue,Quantity,Average_Price
0,Αττική,ALCOHOLIC BEVERAGES,2.224112e+06,1244761.000,4.306251
1,Αττική,BISCUITS,2.948597e+05,158457.000,1.932477
2,Αττική,CHOCOLATE,8.435025e+05,637549.000,1.255829
3,Αττική,COFFEE,1.305983e+05,101463.000,1.799529
4,Αττική,DAIRY,6.975418e+04,31541.000,1.863712
...,...,...,...,...,...
103,Πελοπόννησος,SOFT DRINKS,8.673377e+05,748967.000,1.362730
104,Πελοπόννησος,TICKETING AND ADMISSION SERVICES,1.929142e+06,121424.000,16.901979
105,Πελοπόννησος,TOBACCO,1.170156e+07,2718021.000,5.042026
106,Πελοπόννησος,TOBACCO COMPL,3.449703e+05,1191426.416,7.987858
107,Πελοπόννησος,TOYS,3.486894e+04,24738.000,2.074643

In [229]:
# Calculate the total revenue per area 
data1_grouped_kiosk_area = data1_grouped_kiosk.groupby(['Area']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped_kiosk_area

                         Area       Revenue      Quantity  Average_Price
0                      Αττική  5.659161e+07  1.914790e+07       3.341644
1  Δυτική και Κεντρική Ελλάδα  1.156298e+07  3.510833e+06       3.053955
2                       Κρήτη  8.937910e+06  3.137664e+06       3.293782
3         Μακεδονία και Θράκη  2.037837e+07  6.667072e+06       3.392288
4                       Νησιά  1.367641e+07  4.264125e+06       3.870259
5                Πελοπόννησος  1.744485e+07  6.315637e+06       3.474728

In [230]:
# For each subcategory, calculate the percentage of revenue per area
data1_grouped_kiosk = data1_grouped_kiosk.merge(data1_grouped_kiosk_area, on='Area', suffixes=('', '_total'))
data1_grouped_kiosk['Revenue_percentage'] = (data1_grouped_kiosk['Revenue'] / data1_grouped_kiosk['Revenue_total'])
data1_grouped_kiosk

,Area,Category,Revenue,Quantity,Average_Price,Revenue_total,Quantity_total,Average_Price_total,Revenue_percentage
0,Αττική,ALCOHOLIC BEVERAGES,2.224112e+06,1244761.000,4.306251,5.659161e+07,1.914790e+07,3.341644,0.039301
1,Αττική,BISCUITS,2.948597e+05,158457.000,1.932477,5.659161e+07,1.914790e+07,3.341644,0.005210
2,Αττική,CHOCOLATE,8.435025e+05,637549.000,1.255829,5.659161e+07,1.914790e+07,3.341644,0.014905
3,Αττική,COFFEE,1.305983e+05,101463.000,1.799529,5.659161e+07,1.914790e+07,3.341644,0.002308
4,Αττική,DAIRY,6.975418e+04,31541.000,1.863712,5.659161e+07,1.914790e+07,3.341644,0.001233
...,...,...,...,...,...,...,...,...,...
103,Πελοπόννησος,SOFT DRINKS,8.673377e+05,748967.000,1.362730,1.744485e+07,6.315637e+06,3.474728,0.049719
104,Πελοπόννησος,TICKETING AND ADMISSION SERVICES,1.929142e+06,121424.000,16.901979,1.744485e+07,6.315637e+06,3.474728,0.110585
105,Πελοπόννησος,TOBACCO,1.170156e+07,2718021.000,5.042026,1.744485e+07,6.315637e+06,3.474728,0.670775
106,Πελοπόννησος,TOBACCO COMPL,3.449703e+05,1191426.416,7.987858,1.744485e+07,6.315637e+06,3.474728,0.019775
107,Πελοπόννησος,TOYS,3.486894e+04,24738.000,2.074643,1.744485e+07,6.315637e+06,3.474728,0.001999

In [231]:
# Group by Area and keep the top 3 categories of each area
data1_grouped_kiosk = data1_grouped_kiosk.sort_values(['Area', 'Revenue_percentage'], ascending=[True, False])
data1_grouped_kiosk = data1_grouped_kiosk.groupby('Area').head(5)
data1_grouped_kiosk

,Area,Category,Revenue,Quantity,Average_Price,Revenue_total,Quantity_total,Average_Price_total,Revenue_percentage
15,Αττική,TOBACCO,38746456.62,8883107.0,5.385440,5.659161e+07,1.914790e+07,3.341644,0.684668
14,Αττική,TICKETING AND ADMISSION SERVICES,4374789.46,255047.0,14.999683,5.659161e+07,1.914790e+07,3.341644,0.077305
13,Αττική,SOFT DRINKS,3521382.35,3048309.0,1.341465,5.659161e+07,1.914790e+07,3.341644,0.062224
0,Αττική,ALCOHOLIC BEVERAGES,2224112.27,1244761.0,4.306251,5.659161e+07,1.914790e+07,3.341644,0.039301
12,Αττική,SNACKS,1587268.88,1104197.0,1.459466,5.659161e+07,1.914790e+07,3.341644,0.028048
33,Δυτική και Κεντρική Ελλάδα,TOBACCO,8140947.11,1894715.0,4.808513,1.156298e+07,3.510833e+06,3.053955,0.704053
32,Δυτική και Κεντρική Ελλάδα,TICKETING AND ADMISSION SERVICES,1705293.00,99093.0,16.663068,1.156298e+07,3.510833e+06,3.053955,0.147479
31,Δυτική και Κεντρική Ελλάδα,SOFT DRINKS,456432.97,432068.0,1.240181,1.156298e+07,3.510833e+06,3.053955,0.039474
34,Δυτική και Κεντρική Ελλάδα,TOBACCO COMPL,237218.44,354045.0,8.092772,1.156298e+07,3.510833e+06,3.053955,0.020515
30,Δυτική και Κεντρική Ελλάδα,SNACKS,201046.87,158064.0,1.319202,1.156298e+07,3.510833e+06,3.053955,0.017387
51,Κρήτη,TOBACCO,6002556.73,1357402.0,5.335776,8.937910e+06,3.137664e+06,3.293782,0.671584
50,Κρήτη,TICKETING AND ADMISSION SERVICES,836253.50,155073.0,10.087035,8.937910e+06,3.137664e+06,3.293782,0.093563
49,Κρήτη,SOFT DRINKS,538251.77,482771.0,1.364100,8.937910e+06,3.137664e+06,3.293782,0.060221
48,Κρήτη,SNACKS,291819.13,195137.0,1.538940,8.937910e+06,3.137664e+06,3.293782,0.032650
52,Κρήτη,TOBACCO COMPL,260668.21,331317.0,9.831569,8.937910e+06,3.137664e+06,3.293782,0.029164
69,Μακεδονία και Θράκη,TOBACCO,14609002.24,3357930.0,5.139826,2.037837e+07,6.667072e+06,3.392288,0.716888
68,Μακεδονία και Θράκη,TICKETING AND ADMISSION SERVICES,1795665.48,130084.0,15.292861,2.037837e+07,6.667072e+06,3.392288,0.088116
67,Μακεδονία και Θράκη,SOFT DRINKS,1029782.83,977134.0,1.262520,2.037837e+07,6.667072e+06,3.392288,0.050533
54,Μακεδονία και Θράκη,ALCOHOLIC BEVERAGES,651516.87,351735.0,4.589600,2.037837e+07,6.667072e+06,3.392288,0.031971
70,Μακεδονία και Θράκη,TOBACCO COMPL,507908.30,637285.0,9.648870,2.037837e+07,6.667072e+06,3.392288,0.024924
87,Νησιά,TOBACCO,9347549.14,2101194.0,5.556937,1.367641e+07,4.264125e+06,3.870259,0.683480
86,Νησιά,TICKETING AND ADMISSION SERVICES,1566581.50,90518.0,14.985939,1.367641e+07,4.264125e+06,3.870259,0.114546
85,Νησιά,SOFT DRINKS,757899.40,639921.0,1.402318,1.367641e+07,4.264125e+06,3.870259,0.055417
88,Νησιά,TOBACCO COMPL,374201.12,465475.0,10.931630,1.367641e+07,4.264125e+06,3.870259,0.027361
72,Νησιά,ALCOHOLIC BEVERAGES,361296.37,204144.0,4.356306,1.367641e+07,4.264125e+06,3.870259,0.026417
105,Πελοπόννησος,TOBACCO,11701558.49,2718021.0,5.042026,1.744485e+07,6.315637e+06,3.474728,0.670775
104,Πελοπόννησος,TICKETING AND ADMISSION SERVICES,1929142.42,121424.0,16.901979,1.744485e+07,6.315637e+06,3.474728,0.110585
103,Πελοπόννησος,SOFT DRINKS,867337.68,748967.0,1.362730,1.744485e+07,6.315637e+06,3.474728,0.049719
90,Πελοπόννησος,ALCOHOLIC BEVERAGES,561715.12,298786.0,5.901260,1.744485e+07,6.315637e+06,3.474728,0.032199
102,Πελοπόννησος,SNACKS,399797.92,309470.0,1.366206,1.744485e+07,6.315637e+06,3.474728,0.022918

In [232]:
# Group by Area and calculate the sum of the percentage of revenue
data1_grouped_kiosk_area = data1_grouped_kiosk.groupby(['Area']).agg(
    {'Revenue_percentage': 'sum'}).reset_index()
data1_grouped_kiosk_area

                         Area  Revenue_percentage
0                      Αττική            0.891546
1  Δυτική και Κεντρική Ελλάδα            0.928908
2                       Κρήτη            0.887182
3         Μακεδονία και Θράκη            0.912432
4                       Νησιά            0.907221
5                Πελοπόννησος            0.886196

## Now the same for mini-markets

In [233]:
data1_grouped_mini_market

,StoreId,Category,Type,Area,Revenue,Quantity,Average_Price
85,3545,ALCOHOLIC BEVERAGES,Mini-Market,Αττική,12736.68,6708.0,5.172544
86,3545,BISCUITS,Mini-Market,Αττική,2037.50,1006.0,2.011174
87,3545,CHOCOLATE,Mini-Market,Αττική,9140.00,6309.0,1.151632
88,3545,COFFEE,Mini-Market,Αττική,3149.00,1094.0,3.843351
89,3545,DAIRY,Mini-Market,Αττική,5025.15,1622.0,2.804571
...,...,...,...,...,...,...,...
3344,10963,SOFT DRINKS,Mini-Market,Δυτική και Κεντρική Ελλάδα,17042.89,13351.0,1.339156
3345,10963,TICKETING AND ADMISSION SERVICES,Mini-Market,Δυτική και Κεντρική Ελλάδα,24878.50,1903.0,12.609595
3346,10963,TOBACCO,Mini-Market,Δυτική και Κεντρική Ελλάδα,318587.70,73404.0,4.735000
3347,10963,TOBACCO COMPL,Mini-Market,Δυτική και Κεντρική Ελλάδα,4425.96,6108.0,5.364182
3348,10963,TOYS,Mini-Market,Δυτική και Κεντρική Ελλάδα,5078.05,2931.0,1.407894

In [234]:
# For each StoreId get the top 3 categories by revenue
data1_grouped_mini_market_store = data1_grouped_mini_market.sort_values(['StoreId', 'Revenue_percentage'], ascending=[True, False])
data1_grouped_mini_market_store

KeyError: 'Revenue_percentage'

In [ ]:
# Group by Area and Subcategory and calculate the sum of the revenue
data1_grouped_mini_market = data1_grouped_mini_market.groupby(['Area', 'Category']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped_mini_market

In [ ]:
# Calculate the total revenue per area 
data1_grouped_mini_market_area = data1_grouped_mini_market.groupby(['Area']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped_mini_market_area

In [ ]:
# For each subcategory, calculate the percentage of revenue per area
data1_grouped_mini_market = data1_grouped_mini_market.merge(data1_grouped_mini_market_area, on='Area', suffixes=('', '_total'))
data1_grouped_mini_market['Revenue_percentage'] = (data1_grouped_mini_market['Revenue'] / data1_grouped_mini_market['Revenue_total'])
data1_grouped_mini_market

In [ ]:
# Group by Area and keep the top 3 categories of each area
data1_grouped_mini_market = data1_grouped_mini_market.sort_values(['Area', 'Revenue_percentage'], ascending=[True, False])
data1_grouped_mini_market = data1_grouped_mini_market.groupby('Area').head(5)
data1_grouped_mini_market

In [ ]:
# Νοw get the stores for each area

## Clustering for kiosks

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Selecting relevant columns
data_for_clustering = data1_grouped_kiosk[['Subcategory', 'Area', 'Average_Price', 'Revenue']]

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['Average_Price', 'Revenue']),
        ('cat', OneHotEncoder(), ['Subcategory', 'Area'])
    ])

In [ ]:
# Apply the transformations
data_preprocessed = preprocessor.fit_transform(data_for_clustering)

In [ ]:
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
import numpy as np
data_preprocessed_array = np.asarray(data_preprocessed)

# Perform the elbow method to find the optimal number of clusters
model = KMeans(n_init='auto', max_iter=1000, random_state=0)
visualizer = KElbowVisualizer(model, k=(2, 10))
visualizer.fit(data_preprocessed_array)
visualizer.show()