In [1]:
import pandas as pd

In [2]:
# Read the csv
data1 = pd.read_csv('data/data1analytical.csv')

In [4]:
# Read Category Mappings csv
category_mappings = pd.read_csv('data/Category Mapping.csv')

In [5]:
# Get the Category column from the category_mappings dataframe and merge to dataset2_encoded
data1 = pd.merge(data1, category_mappings[['Subcategory', 'Category']], on='Subcategory', how='left')

In [6]:
# Calculate the price column (revenue/quantity)
data1['Average_Price'] = data1['Revenue'] / data1['Quantity']

In [7]:
data1

,Date_Year,Date_MonthName,StoreId,Subcategory,Quantity,Revenue,Period,Type,Area,Category,Average_Price
0,2022,June,4008,SWEET BAKERY SNACKS,24.0,24.40,MATYA,Kiosk,Μακεδονία και Θράκη,SNACKS,1.016667
1,2021,November,10254,TOBACCO ACCESSORIES,2156.0,1437.80,MATYA,Kiosk,Μακεδονία και Θράκη,TOBACCO COMPL,0.666883
2,2022,August,5122,ΟΥΖΟ,3.0,11.00,MATYA,Kiosk,Δυτική και Κεντρική Ελλάδα,ALCOHOLIC BEVERAGES,3.666667
3,2022,June,10254,CORN,51.0,74.00,MATYA,Kiosk,Μακεδονία και Θράκη,SNACKS,1.450980
4,2022,October,10280,STICK,122.0,277.80,MATYA,Kiosk,Αττική,ICE CREAM,2.277049
...,...,...,...,...,...,...,...,...,...,...,...
351094,2023,March,7986,WHISKY,1.0,23.00,MAT,Mini-Market,Μακεδονία και Θράκη,ALCOHOLIC BEVERAGES,23.000000
351095,2023,January,6532,SANDWICH,29.0,48.50,MAT,Kiosk,Νησιά,BISCUITS,1.672414
351096,2023,January,3545,ICE TEA,11.0,20.00,MAT,Mini-Market,Αττική,SOFT DRINKS,1.818182
351097,2022,December,3813,COLAS,364.0,653.64,MAT,Kiosk,Πελοπόννησος,SOFT DRINKS,1.795714
351098,2022,November,7376,GREEK COFFEE,18.0,50.10,MAT,Mini-Market,Αττική,COFFEE,2.783333

In [8]:
# Group by subcategory and StoreId and calculate the sum of the revenue
data1_grouped = data1.groupby(['StoreId', 'Subcategory', 'Type', 'Area']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
0,3435,ALOE VERA,Kiosk,Αττική,52.50,35.0,1.500000
1,3435,BAR ICE CREAM,Kiosk,Αττική,4851.90,1892.0,2.400836
2,3435,BAR SNACKS,Kiosk,Αττική,5103.70,2889.0,1.758919
3,3435,BEERS,Kiosk,Αττική,115448.39,70713.0,1.617208
4,3435,CAKE,Kiosk,Αττική,2308.50,2426.0,0.963478
...,...,...,...,...,...,...,...
16797,10963,WHISKY,Mini-Market,Δυτική και Κεντρική Ελλάδα,88.60,11.0,8.775000
16798,10963,WINE,Mini-Market,Δυτική και Κεντρική Ελλάδα,65.50,14.0,4.710000
16799,10963,YOGURT,Mini-Market,Δυτική και Κεντρική Ελλάδα,810.50,474.0,1.722212
16800,10963,ΟΥΖΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,128.00,32.0,4.000000
16801,10963,ΤΣΙΠΟΥΡΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,494.00,97.0,5.133413

In [9]:
# Create separate dataframes for each Type
data1_grouped_kiosk = data1_grouped[data1_grouped['Type'] == 'Kiosk']
data1_grouped_mini_market = data1_grouped[data1_grouped['Type'] == 'Mini-Market']

## Analysis for mini-markets

In [10]:
data1_grouped_mini_market

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
409,3545,ALOE VERA,Mini-Market,Αττική,36.40,24.0,1.510000
410,3545,BAR ICE CREAM,Mini-Market,Αττική,42.00,7.0,6.000000
411,3545,BAR SNACKS,Mini-Market,Αττική,277.20,225.0,1.206179
412,3545,BEERS,Mini-Market,Αττική,10663.98,6226.0,1.666956
413,3545,BUTTER,Mini-Market,Αττική,396.35,152.0,2.470255
...,...,...,...,...,...,...,...
16797,10963,WHISKY,Mini-Market,Δυτική και Κεντρική Ελλάδα,88.60,11.0,8.775000
16798,10963,WINE,Mini-Market,Δυτική και Κεντρική Ελλάδα,65.50,14.0,4.710000
16799,10963,YOGURT,Mini-Market,Δυτική και Κεντρική Ελλάδα,810.50,474.0,1.722212
16800,10963,ΟΥΖΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,128.00,32.0,4.000000
16801,10963,ΤΣΙΠΟΥΡΟ,Mini-Market,Δυτική και Κεντρική Ελλάδα,494.00,97.0,5.133413

### For each StoreId get the top 3 categories by revenue

In [12]:
data1_grouped_mini_market_store = data1_grouped_mini_market.sort_values(['StoreId', 'Revenue'], ascending=[True,False])
data1_grouped_mini_market_store.groupby('StoreId').head(3)

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
422,3545,CIG,Mini-Market,Αττική,456298.10,106586.0,4.283428
445,3545,HEATED,Mini-Market,Αττική,146056.20,37874.0,3.857268
475,3545,RYO,Mini-Market,Αττική,127676.20,16540.0,7.723747
596,3557,CIG,Mini-Market,Μακεδονία και Θράκη,294470.00,69587.0,4.233650
664,3557,TICKETING AND ADMISSION SERVICES,Mini-Market,Μακεδονία και Θράκη,154542.25,15074.0,10.227903
...,...,...,...,...,...,...,...
16658,10961,HEATED,Mini-Market,Αττική,249443.68,65111.0,3.813447
16690,10961,RYO,Mini-Market,Αττική,169470.10,21730.0,7.798052
16726,10963,CIG,Mini-Market,Δυτική και Κεντρική Ελλάδα,192744.30,44849.0,4.296499
16750,10963,HEATED,Mini-Market,Δυτική και Κεντρική Ελλάδα,61855.10,16081.0,3.859937
16780,10963,RYO,Mini-Market,Δυτική και Κεντρική Ελλάδα,52508.60,6825.0,7.683453

In [13]:
# Keep stores with area Αττική in a new dataframe
data1_grouped_mini_market_store_attiki = data1_grouped_mini_market_store[data1_grouped_mini_market_store['Area'] == 'Αττική']
data1_grouped_mini_market_store_attiki

,StoreId,Subcategory,Type,Area,Revenue,Quantity,Average_Price
422,3545,CIG,Mini-Market,Αττική,456298.10,106586.0,4.283428
445,3545,HEATED,Mini-Market,Αττική,146056.20,37874.0,3.857268
475,3545,RYO,Mini-Market,Αττική,127676.20,16540.0,7.723747
423,3545,CIGARILLOS,Mini-Market,Αττική,22306.78,10061.0,2.220386
486,3545,TOBACCO ACCESSORIES,Mini-Market,Αττική,16569.44,26169.0,0.633006
...,...,...,...,...,...,...,...
16678,10961,PLANT BASED MILK,Mini-Market,Αττική,48.60,18.0,2.718182
16689,10961,RUM,Mini-Market,Αττική,48.30,2.0,24.150000
16647,10961,ESPRESSO GROUND,Mini-Market,Αττική,17.70,3.0,5.900000
16636,10961,COFFEE CAPSULES,Mini-Market,Αττική,7.80,2.0,3.900000
16652,10961,FLAVORED WATER,Mini-Market,Αττική,4.80,2.0,2.400000

In [14]:
# Grouping data by Store Type and Subcategory, then calculating total revenue and average price per product
store_type_subcategory_analysis = data1.groupby(['Type', 'Category']).agg(
    Total_Revenue=('Revenue', 'sum'),
    Average_Price=('Revenue', 'mean')
)

# Sorting the results by Store Type and then by Total Revenue for each subcategory
store_type_subcategory_analysis_sorted = store_type_subcategory_analysis.sort_values(
    by=['Type', 'Total_Revenue'], ascending=[True, False])
store_type_subcategory_analysis_sorted

                                              Total_Revenue  Average_Price
Type        Category
Kiosk       TOBACCO                            8.854807e+07    7834.032587
            TICKETING AND ADMISSION SERVICES   1.220773e+07    7044.273145
            SOFT DRINKS                        7.171087e+06     323.955864
            ALCOHOLIC BEVERAGES                4.204491e+06     315.037546
            SNACKS                             3.268556e+06     133.732481
            TOBACCO COMPL                      3.125745e+06     686.072290
            ICE CREAM                          2.674374e+06     227.528866
            CHOCOLATE                          1.851378e+06     182.527613
            GUMS & CANDIES                     1.307872e+06     208.891798
            PACKAGED FOOD                      8.566987e+05     535.771538
            HOME & PERSONAL CARE               8.059883e+05     382.166079
            BISCUITS                           6.557452e+05      37.589291
            MILK                               5.311333e+05      88.433780
            PRINT                              4.514242e+05     503.259989
            TOYS                               3.577348e+05     214.469323
            COFFEE                             2.872203e+05      52.098730
            DAIRY                              2.112147e+05      93.333917
            PET CARE                           7.566646e+04     108.404670
Mini-Market TOBACCO                            7.056440e+07    5189.703976
            TICKETING AND ADMISSION SERVICES   1.002931e+07    4967.463214
            SOFT DRINKS                        7.882508e+06     274.336391
            ALCOHOLIC BEVERAGES                6.452327e+06     297.602825
            SNACKS                             4.609219e+06     141.123033
            PACKAGED FOOD                      3.396565e+06    1317.008564
            TOBACCO COMPL                      3.183681e+06     576.336233
            ICE CREAM                          3.048554e+06     201.837551
            CHOCOLATE                          2.482590e+06     191.498744
            HOME & PERSONAL CARE               1.998395e+06     756.394836
            MILK                               1.722253e+06     134.551042
            DAIRY                              1.556008e+06     178.810365
            GUMS & CANDIES                     1.314102e+06     167.444191
            BISCUITS                           9.870278e+05      39.284689
            COFFEE                             6.528784e+05      65.708371
            TOYS                               5.738862e+05     265.934305
            PRINT                              3.747640e+05     414.103845
            PET CARE                           3.335960e+05     148.264911

In [15]:
# Analysis of Sales by Store Type, taking into account Product Subcategories and Area

# Grouping data by Store Type, Subcategory, and Area, then calculating total revenue and average price per product
store_type_subcategory_area_analysis = data1.groupby(['Type', 'Category', 'Area']).agg(
    Total_Revenue=('Revenue', 'sum'),
    Average_Price=('Revenue', 'mean')
)

# Sorting the results by Store Type, Subcategory and then by Total Revenue for each area
store_type_subcategory_area_analysis_sorted = store_type_subcategory_area_analysis.sort_values(
    by=['Type', 'Category', 'Total_Revenue'], ascending=[True, True, False])

store_type_subcategory_area_analysis_sorted

                                                            Total_Revenue  \
Type        Category            Area
Kiosk       ALCOHOLIC BEVERAGES Αττική                         2224112.27
                                Μακεδονία και Θράκη             651516.87
                                Πελοπόννησος                    561715.12
                                Νησιά                           361296.37
                                Κρήτη                           240063.11
...                                                                   ...
Mini-Market TOYS                Μακεδονία και Θράκη             180605.60
                                Νησιά                            40768.99
                                Δυτική και Κεντρική Ελλάδα       28609.97
                                Πελοπόννησος                     19427.87
                                Κρήτη                             4204.92

                                                            Average_Price
Type        Category            Area
Kiosk       ALCOHOLIC BEVERAGES Αττική                         349.044612
                                Μακεδονία και Θράκη            258.949471
                                Πελοπόννησος                   329.645023
                                Νησιά                          363.477233
                                Κρήτη                          278.818943
...                                                                   ...
Mini-Market TOYS                Μακεδονία και Θράκη            217.074038
                                Νησιά                          219.188118
                                Δυτική και Κεντρική Ελλάδα     193.310608
                                Πελοπόννησος                   170.419912
                                Κρήτη                           46.207912

[216 rows x 2 columns]

--------------------------

## Analysis for Kiosks

---------------------------

In [16]:
data1_grouped_kiosk.drop(columns=['Type'], inplace=True)
data1_grouped_kiosk

C:\Users\panagiotis\AppData\Local\Temp\ipykernel_38952\3629798348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_grouped_kiosk.drop(columns=['Type'], inplace=True)

       StoreId    Subcategory    Area    Revenue  Quantity  Average_Price
0         3435      ALOE VERA  Αττική      52.50      35.0       1.500000
1         3435  BAR ICE CREAM  Αττική    4851.90    1892.0       2.400836
2         3435     BAR SNACKS  Αττική    5103.70    2889.0       1.758919
3         3435          BEERS  Αττική  115448.39   70713.0       1.617208
4         3435           CAKE  Αττική    2308.50    2426.0       0.963478
...        ...            ...     ...        ...       ...            ...
16522    10884         WHISKY  Αττική     328.00      56.0       7.016071
16523    10884           WINE  Αττική     478.80     163.0       2.876710
16524    10884         YOGURT  Αττική      81.70      55.0       1.419255
16525    10884           ΟΥΖΟ  Αττική     660.60     176.0       3.468173
16526    10884       ΤΣΙΠΟΥΡΟ  Αττική     540.80     187.0       3.099617

[7024 rows x 6 columns]

In [17]:
data1_grouped_kiosk

       StoreId    Subcategory    Area    Revenue  Quantity  Average_Price
0         3435      ALOE VERA  Αττική      52.50      35.0       1.500000
1         3435  BAR ICE CREAM  Αττική    4851.90    1892.0       2.400836
2         3435     BAR SNACKS  Αττική    5103.70    2889.0       1.758919
3         3435          BEERS  Αττική  115448.39   70713.0       1.617208
4         3435           CAKE  Αττική    2308.50    2426.0       0.963478
...        ...            ...     ...        ...       ...            ...
16522    10884         WHISKY  Αττική     328.00      56.0       7.016071
16523    10884           WINE  Αττική     478.80     163.0       2.876710
16524    10884         YOGURT  Αττική      81.70      55.0       1.419255
16525    10884           ΟΥΖΟ  Αττική     660.60     176.0       3.468173
16526    10884       ΤΣΙΠΟΥΡΟ  Αττική     540.80     187.0       3.099617

[7024 rows x 6 columns]

In [19]:
# Group by Area and Subcategory and calculate the sum of the revenue
data1_grouped_kiosk = data1_grouped_kiosk.groupby(['Area', 'Subcategory']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped_kiosk

             Area    Subcategory     Revenue   Quantity  Average_Price
0          Αττική      ALOE VERA    17757.64     9594.0       1.878193
1          Αττική  BAR ICE CREAM    24943.22    10005.0       2.294783
2          Αττική     BAR SNACKS    60328.95    35092.0       1.678684
3          Αττική          BEERS  1779605.69  1125702.0       1.625587
4          Αττική         BUTTER     3359.41     1140.0       3.292449
..            ...            ...         ...        ...            ...
569  Πελοπόννησος         WHISKY    35465.15     2345.0      14.513651
570  Πελοπόννησος           WINE    35947.20     8189.0       3.198722
571  Πελοπόννησος         YOGURT    38187.77    13102.0       2.185376
572  Πελοπόννησος           ΟΥΖΟ     5674.65     1630.0       3.712851
573  Πελοπόννησος       ΤΣΙΠΟΥΡΟ    25810.17     9279.0       3.387828

[574 rows x 5 columns]

In [20]:
# Calculate the total revenue per area 
data1_grouped_kiosk_area = data1_grouped_kiosk.groupby(['Area']).agg(
    {'Revenue': 'sum', 'Quantity': 'sum', 'Average_Price': 'mean'}).reset_index()
data1_grouped_kiosk_area

                         Area       Revenue      Quantity  Average_Price
0                      Αττική  5.659161e+07  1.914790e+07       3.681190
1  Δυτική και Κεντρική Ελλάδα  1.156298e+07  3.510833e+06       3.263753
2                       Κρήτη  8.937910e+06  3.137664e+06       3.746801
3         Μακεδονία και Θράκη  2.037837e+07  6.667072e+06       3.762339
4                       Νησιά  1.367641e+07  4.264125e+06       3.842525
5                Πελοπόννησος  1.744485e+07  6.315637e+06       4.372466

In [21]:
# For each subcategory, calculate the percentage of revenue per area
data1_grouped_kiosk = data1_grouped_kiosk.merge(data1_grouped_kiosk_area, on='Area', suffixes=('', '_total'))
data1_grouped_kiosk['Revenue_percentage'] = (data1_grouped_kiosk['Revenue'] / data1_grouped_kiosk['Revenue_total'])
data1_grouped_kiosk

,Area,Subcategory,Revenue,Quantity,Average_Price,Revenue_total,Quantity_total,Average_Price_total,Revenue_percentage
0,Αττική,ALOE VERA,17757.64,9594.0,1.878193,5.659161e+07,1.914790e+07,3.681190,0.000314
1,Αττική,BAR ICE CREAM,24943.22,10005.0,2.294783,5.659161e+07,1.914790e+07,3.681190,0.000441
2,Αττική,BAR SNACKS,60328.95,35092.0,1.678684,5.659161e+07,1.914790e+07,3.681190,0.001066
3,Αττική,BEERS,1779605.69,1125702.0,1.625587,5.659161e+07,1.914790e+07,3.681190,0.031446
4,Αττική,BUTTER,3359.41,1140.0,3.292449,5.659161e+07,1.914790e+07,3.681190,0.000059
...,...,...,...,...,...,...,...,...,...
569,Πελοπόννησος,WHISKY,35465.15,2345.0,14.513651,1.744485e+07,6.315637e+06,4.372466,0.002033
570,Πελοπόννησος,WINE,35947.20,8189.0,3.198722,1.744485e+07,6.315637e+06,4.372466,0.002061
571,Πελοπόννησος,YOGURT,38187.77,13102.0,2.185376,1.744485e+07,6.315637e+06,4.372466,0.002189
572,Πελοπόννησος,ΟΥΖΟ,5674.65,1630.0,3.712851,1.744485e+07,6.315637e+06,4.372466,0.000325
573,Πελοπόννησος,ΤΣΙΠΟΥΡΟ,25810.17,9279.0,3.387828,1.744485e+07,6.315637e+06,4.372466,0.001480

In [22]:
# Group by Area and keep the top 3 categories of each area
data1_grouped_kiosk = data1_grouped_kiosk.sort_values(['Area', 'Revenue_percentage'], ascending=[True, False])
data1_grouped_kiosk = data1_grouped_kiosk.groupby('Area').head(5)
data1_grouped_kiosk

,Area,Subcategory,Revenue,Quantity,Average_Price,Revenue_total,Quantity_total,Average_Price_total,Revenue_percentage
14,Αττική,CIG,22807857.24,5307418.0,4.295660,5.659161e+07,1.914790e+07,3.681190,0.403025
74,Αττική,RYO,7141070.87,917698.0,7.773514,5.659161e+07,1.914790e+07,3.681190,0.126186
39,Αττική,HEATED,6408264.47,1683206.0,3.792217,5.659161e+07,1.914790e+07,3.681190,0.113237
86,Αττική,TICKETING AND ADMISSION SERVICES,4374789.46,255047.0,14.999683,5.659161e+07,1.914790e+07,3.681190,0.077305
3,Αττική,BEERS,1779605.69,1125702.0,1.625587,5.659161e+07,1.914790e+07,3.681190,0.031446
113,Δυτική και Κεντρική Ελλάδα,CIG,5131806.60,1207177.0,4.256958,1.156298e+07,3.510833e+06,3.263753,0.443814
180,Δυτική και Κεντρική Ελλάδα,TICKETING AND ADMISSION SERVICES,1705293.00,99093.0,16.663068,1.156298e+07,3.510833e+06,3.263753,0.147479
168,Δυτική και Κεντρική Ελλάδα,RYO,1484163.00,191788.0,7.742695,1.156298e+07,3.510833e+06,3.263753,0.128355
135,Δυτική και Κεντρική Ελλάδα,HEATED,1091104.90,285240.0,3.805455,1.156298e+07,3.510833e+06,3.263753,0.094362
114,Δυτική και Κεντρική Ελλάδα,CIGARILLOS,273578.87,186545.0,1.523248,1.156298e+07,3.510833e+06,3.263753,0.023660
206,Κρήτη,CIG,3397604.30,794739.0,4.281051,8.937910e+06,3.137664e+06,3.746801,0.380134
262,Κρήτη,RYO,1232030.30,158407.0,7.781539,8.937910e+06,3.137664e+06,3.746801,0.137843
229,Κρήτη,HEATED,924917.02,243140.0,3.802784,8.937910e+06,3.137664e+06,3.746801,0.103482
274,Κρήτη,TICKETING AND ADMISSION SERVICES,836253.50,155073.0,10.087035,8.937910e+06,3.137664e+06,3.746801,0.093563
207,Κρήτη,CIGARILLOS,258001.45,134976.0,1.773360,8.937910e+06,3.137664e+06,3.746801,0.028866
300,Μακεδονία και Θράκη,CIG,8951721.63,2095908.0,4.266477,2.037837e+07,6.667072e+06,3.762339,0.439276
323,Μακεδονία και Θράκη,HEATED,2640005.30,684537.0,3.820447,2.037837e+07,6.667072e+06,3.762339,0.129549
357,Μακεδονία και Θράκη,RYO,2300793.20,297342.0,7.743391,2.037837e+07,6.667072e+06,3.762339,0.112904
369,Μακεδονία και Θράκη,TICKETING AND ADMISSION SERVICES,1795665.48,130084.0,15.292861,2.037837e+07,6.667072e+06,3.762339,0.088116
370,Μακεδονία και Θράκη,TOBACCO ACCESSORIES,467854.44,635198.0,0.741545,2.037837e+07,6.667072e+06,3.762339,0.022958
396,Νησιά,CIG,5505396.24,1282991.0,4.289068,1.367641e+07,4.264125e+06,3.842525,0.402547
451,Νησιά,RYO,1856345.05,235839.0,7.854077,1.367641e+07,4.264125e+06,3.842525,0.135733
463,Νησιά,TICKETING AND ADMISSION SERVICES,1566581.50,90518.0,14.985939,1.367641e+07,4.264125e+06,3.842525,0.114546
418,Νησιά,HEATED,1350640.80,353374.0,3.791213,1.367641e+07,4.264125e+06,3.842525,0.098757
464,Νησιά,TOBACCO ACCESSORIES,357377.04,464604.0,0.753131,1.367641e+07,4.264125e+06,3.842525,0.026131
490,Πελοπόννησος,CIG,8257546.63,1944546.0,4.249070,1.744485e+07,6.315637e+06,4.372466,0.473352
560,Πελοπόννησος,TICKETING AND ADMISSION SERVICES,1929142.42,121424.0,16.901979,1.744485e+07,6.315637e+06,4.372466,0.110585
548,Πελοπόννησος,RYO,1720580.10,221821.0,7.731208,1.744485e+07,6.315637e+06,4.372466,0.098630
515,Πελοπόννησος,HEATED,1185503.97,314705.0,3.744499,1.744485e+07,6.315637e+06,4.372466,0.067957
479,Πελοπόννησος,BEERS,390624.16,267229.0,1.454676,1.744485e+07,6.315637e+06,4.372466,0.022392

In [23]:
# Group by Area and calculate the sum of the percentage of revenue
data1_grouped_kiosk_area = data1_grouped_kiosk.groupby(['Area']).agg(
    {'Revenue_percentage': 'sum'}).reset_index()
data1_grouped_kiosk_area

                         Area  Revenue_percentage
0                      Αττική            0.751199
1  Δυτική και Κεντρική Ελλάδα            0.837669
2                       Κρήτη            0.743888
3         Μακεδονία και Θράκη            0.792803
4                       Νησιά            0.777714
5                Πελοπόννησος            0.772916